<nb-card>
    <nb-card-header>
        DANH SÁCH HÀNG ĐÃ ĐẾN
    </nb-card-header>

    <nb-card-body>
        <table class="styled-table" id="excel-table">
            <thead>
            <tr>
                <th></th>
                <th>Nhóm SP</th>
                <th>Tên Máy</th>
                <th>Số IMEI</th>
                <th>Màu</th>
                <th>Tình Trạng</th>
                <th>Số Lượng</th>
                <th>Giá</th>
                <th>Kho Nguồn</th>
                <th>Ngày Chuyển</th>
                <th>Ngày Nhận</th>
                <th>Trạng Thái</th>
<!--                <th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" placeholder="IMEI"
                           class="rounded p-1"
                           [(ngModel)]="transferredProductsFilter.imei"
                           (ngModelChange)="onSearchTransferredProducts($event)"/>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="date"
                           class="rounded p-1"
                           [(ngModel)]="transferredProductsFilter.transfer_date"
                           (ngModelChange)="onSearchTransferredProducts($event)"/>
                </td>
                <td></td>
                <td></td>
<!--                <td></td>-->
            </tr>
            <tr *ngFor="let rowData of data; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{rowData.group_name}}</td>
                <td>{{rowData.name}}</td>
                <td>{{rowData.imei}}</td>
                <td>{{rowData.color}}</td>
                <td>{{rowData.status | productStatus}}</td>
                <td>{{rowData.quantity}}</td>
                <td>{{rowData.price}}</td>
                <td>{{rowData.from_position | positionTitle}}</td>
                <td>{{rowData.transfer_date | date: dateFormat}}</td>
                <td>{{rowData.receive_date | date: dateFormat}}</td>
                <td>{{rowData.transfer_status | outgoingTransferStatus}}</td>
            </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>
