<nb-card>
    <nb-card-header>
        QUẢN LÝ MÁY
    </nb-card-header>
    <nb-card-body>
        <div class="row filter-input-group">
            <div class="col-12 col-md-12 form-inline">
                <input type="text" [(ngModel)]="deviceFilter.name" required id="searchNameText"
                       placeholder="Tên Máy" (ngModelChange)="onSearchDevice($event)" class="filter-text form-control"
                       name="searchNameText" />
                <input type="text" [(ngModel)]="deviceFilter.imei" required id="searchImeiText"
                       placeholder="IMEI" (ngModelChange)="onSearchDevice($event)" class="filter-text form-control"
                       name="searchImeiText" />
                <input [(ngModel)]="deviceFilter.customer_name" required id="searchCustomerNameText"
                       placeholder="Người Bán" (ngModelChange)="onSearchDevice($event)" class="filter-text form-control"
                       name="searchImeiText" />
            </div>
        </div>
        <p-table dataKey="id" editMode="row" #tt [value]="data" [paginator]="true"
                 [rows]="20" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" class=" text-primary">
                <tr>
                    <th></th>
                    <th>Nhóm SP</th>
                    <th>Tên máy</th>
                    <th>IMEI</th>
                    <th>Màu Sắc</th>
                    <th>Tình trạng</th>
                    <th>Số lượng</th>
                    <th>Giá mua</th>
                    <th>Người Bán</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td>{{i + 1}}</td>
                    <td>{{rowData.group_name}}</td>
                    <td>{{rowData.name}}</td>
                    <td>{{rowData.imei}}</td>
                    <td>{{rowData.color}}</td>
                    <td>{{rowData.status | productStatus}}</td>
                    <td>{{rowData.quantity}}</td>
                    <td>{{rowData.price}}</td>
                    <td>{{rowData.name_vietnamese}}</td>
                    <td style="text-align:center">
                        <button nbButton status="primary" (click)="onShowInvoice(rowData)">
                            <nb-icon icon="eye"></nb-icon>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </nb-card-body>
</nb-card>
