<nb-card>
  <nb-card-header>
    Danh Sách Sản Phẩm <a style="color: #2e61fa ;font-weight: 300; margin-left: 80px;" (click)="exportexcel()"> Tải Danh Sách Sản Phẩm</a>

  </nb-card-header>

  <nb-card-body>



<!-- <a style="color: #2e61fa ;font-weight: 300;" (click)="exportexcel()"> Tải Danh Sách Sản Phẩm</a> -->

<!-- <br /> -->
<table class="styled-table" id="excel-table">


<thead>
  <tr>
    <th><i class="fa fa-shopping-cart" style="font-size:16px;color:whitesmoke;" routerLink="/pages/tables/bansanpham"
        [queryParams]={id:[danhsachidsanpham]}></i>
    </th>
    <!-- <th>Id</th> -->
    <!-- <th>Nhóm sản phẩm</th> -->
    <th>Tên sản phẩm</th>
    <th>Imei</th>
    <!-- <th>Dung lượng</th>
    <th>Loại sản phẩm</th>
    <th>Phiên bản</th> -->
    <th>Màu sắc</th>
    <th>Tình trạng</th>
    <th>Số lượng</th>
    <th>Giá tiền</th>
   
    <!-- <th></th>
    <th><i class="fa fa-plus" style="font-size:18px;color:whitesmoke;" (click)="taomoi()"></i></th> -->
  </tr>
</thead>
<tbody>
  <!-- <td></td> -->
  <td></td>
  <!-- <td></td>
  <td><select (change)="selectnhomsanpham($event)"
      style="height: 28px;width: 110px;border-radius: 5px;border-color: #809ffc;">
      <option value="default">Nhóm sản phẩm</option>
      <option *ngFor="let data of datanhomsanpham" [value]="data.value">
        {{data.title}}
      </option>

    </select></td> -->

    <td><input type="text" style="height: 20px; width: 120px; border-radius: 5px;" 
      (change)="filterdanhsachsanpham()"  [(ngModel)]="tensp">
    </td>
    <td><input type="text" style="height: 20px; width: 120px; border-radius: 5px;" 
      (change)="filterdanhsachsanpham()" [(ngModel)]="imeisp">
    </td>
    <td><input type="text" style="height: 20px; width: 80px; border-radius: 5px;" 
      (change)="filterdanhsachsanpham()" [(ngModel)]="mausacsp">
    </td>
    <td><input type="text" style="height: 20px; width: 80px; border-radius: 5px;" 
      (change)="filterdanhsachsanpham()" [(ngModel)]="tinhtrangsp">
    </td>

  <!-- <td><select (change)="selectdungluong($event)"
      style="height: 28px;width: 100px;border-radius: 5px;border-color: #809ffc;">
      <option value="default">Dung lượng</option>
      <option *ngFor="let data of datadungluong" [value]="data.value">
        {{data.title}}
      </option>

    </select></td> -->

  <!-- <td><select (change)="selectloaisanpham($event)"
      style="height: 28px;width: 110px;border-radius: 5px;border-color: #809ffc;">
      <option value="default">Loại sản phẩm</option>
      <option *ngFor="let data of dataloaisanpham" [value]="data.value">
        {{data.title}}
      </option>

    </select></td> -->

  <!-- <td><select (change)="selectphienban($event)"
      style="height: 28px;width: 110px;border-radius: 5px;border-color: #809ffc;">
      <option value="default">Phiên bản</option>
      <option *ngFor="let data of dataphienban" [value]="data.value">
        {{data.title}}
      </option>

    </select></td> -->

  <!-- <tr *ngIf="taomoisanpham==true">
    <td></td>
    <td></td>
    <td><select (change)="selecttaomoinhomsanpham($event.target.value)"
        style="height: 28px;width: 110px;border-radius: 5px;border-color: #809ffc;">
        <option value="default">Nhóm sản phẩm</option>
        <option *ngFor="let data of datanhomsanpham" [value]="data.value">
          {{data.title}}
        </option>

      </select></td>

    <td><select (change)="selecttaomoitensanpham($event.target.value)"
        style="height: 28px;width: 110px;border-radius: 5px;border-color: #809ffc;">
        <option value="default">Tên sản phẩm</option>
        <option *ngFor="let data of datatensanpham" [value]="data.value">
          {{data.title}}
        </option>

      </select></td>

    <td><select (change)="selecttaomoidungluong($event.target.value)"
        style="height: 28px;width: 100px;border-radius: 5px;border-color: #809ffc;">
        <option value="default">Dung lượng</option>
        <option *ngFor="let data of datadungluong" [value]="data.value">
          {{data.title}}
        </option>

      </select></td>

    <td><select (change)="selecttaomoiloaisanpham($event.target.value)" style="height: 28px;width: 110px;border-radius: 5px;border-color: #809ffc;">
      <option value="default">Loại sản phẩm</option>  
      <option *ngFor="let data of dataloaisanpham" [value]="data.value">
          {{data.title}}
        </option>

      </select></td>

    <td><select (change)="selecttaomoiphienban($event.target.value)"  style="height: 28px;width: 110px;border-radius: 5px;border-color: #809ffc;">
      <option value="default">Phiên bản</option>  
      <option *ngFor="let data of dataphienban" [value]="data.value">
          {{data.title}}
        </option>

      </select></td>
    <td><input type="text" style="width: 120px;"  [(ngModel)]="dataimeitaomoi"></td>
    <td><i class="fa fa-check" style="font-size:18px;color:darkblue;" (click)="taosanphammoi()"></i></td>
    <td><i class="fa fa-times" style="font-size:18px;color:tomato;" (click)="canceltaomoi()"></i></td>

  </tr> -->
  <tr *ngFor="let sanpham of data">
    <td><input type="checkbox" (click)="select(sanpham.id)"></td>
    <!-- <td>{{sanpham.id}}</td> -->
    <!-- <td>{{sanpham.nhomsanpham}}</td> -->
    <td>{{sanpham.name}}</td>
    <td>{{sanpham.imei}}</td>
    <td>{{sanpham.color}}</td>
    <td>{{sanpham.status}}</td>
    <td>{{sanpham.quantity}}</td>
    <td>{{sanpham.price}}</td>
   
    <!-- <td><i class="fa fa-edit" style="font-size:18px;color:darkblue;" routerLink="/pages/tables/sanpham"
        [queryParams]={id:[sanpham.id]}></i></td>
    <td><i class="fa fa-trash" style="font-size:18px;color:tomato;" (click)="delete(sanpham.id)"></i></td> -->

  </tr>


</tbody>
</table>

</nb-card-body>
</nb-card> 