<nb-card>
    <nb-card-header>
        QUẢN LÝ THU CHI
    </nb-card-header>

    <nb-card-body>
        <div class="row filter-input-group">
            <div class="col-10 col-md-10 form-inline">
                <div class="form-group">
                    <label style="margin-right: 10px;">Thời gian: </label>
                    <p-dropdown [options]="types" [(ngModel)]="selectedType" (ngModelChange)="onTypeChange($event)"
                                [styleClass]="'filter-text statistic-type form-control'"
                                optionLabel="label" optionValue="value" required [ngModelOptions]="{standalone: true}"
                    >
                    </p-dropdown>
                </div>
                <p-calendar [styleClass]="'my-calendar birthday-calendar'"
                            [inputStyleClass]="'form-control'"
                            placeholder="Từ Ngày"
                            [(ngModel)]="statisticFilter.from_date"
                            (ngModelChange)="onChangeFromDate($event)"
                            dateFormat="dd-mm-yy" [ngModelOptions]="{standalone: true}"
                            [showButtonBar]="true"
                            [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange">
                </p-calendar>
                <p-calendar [styleClass]="'my-calendar birthday-calendar'" placeholder="Đến Ngày"
                            [inputStyleClass]="'form-control'"
                            [(ngModel)]="statisticFilter.to_date"
                            dateFormat="dd-mm-yy" [ngModelOptions]="{standalone: true}"
                            [showButtonBar]="true"
                            [defaultDate]="minToDate"
                            [minDate]="minToDate"
                            [maxDate]="maxToDate"
                            [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange">
                </p-calendar>
            </div>
            <div class="col-2 col-md-2">
                <button nbButton status="primary" (click)="onSearch($event)" ><nb-icon icon="edit-outline"></nb-icon> Tìm Kiếm</button>
            </div>
        </div>
        <h4 class=" card-title" style="margin: 20px; font-weight: bold;">Danh sách nhập
        </h4>
        <p-table dataKey="invoices" editMode="row" #tt [value]="purchasingStats" [paginator]="true"
                 [rows]="20" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
                <tr>
                    <th *ngIf="selectedType.value=== MONTH ">Tháng</th>
                    <th *ngIf="selectedType.value=== DATE_RANGE ">Ngày</th>
                    <th>Tổng số máy</th>
                    <th>Tổng Số Tiền</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td *ngIf="selectedType.value == MONTH ">{{rowData.datemonth}}/{{rowData.dateyear}}</td>
                    <td *ngIf="selectedType.value ==DATE_RANGE">{{rowData.sale_date | date: dateFormat}}</td>
                    <td>{{rowData.quantity}}</td>
                    <td>{{rowData.total_money}}</td>
                </tr>
            </ng-template>
        </p-table>
        <h4 class=" card-title" style="margin: 20px; font-weight: bold;">Danh sách xuất
        </h4>
        <p-table dataKey="orderInvoices" editMode="row" #tt [value]="forSaleStats" [paginator]="true"
                 [rows]="20" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
                <tr>
                    <th *ngIf="selectedType.value=== MONTH ">Tháng</th>
                    <th *ngIf="selectedType.value=== DATE_RANGE">Ngày</th>
                    <th>Tổng số máy</th>
                    <th>Tổng Số Tiền</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td *ngIf="selectedType.value== MONTH ">{{rowData.datemonth}}/{{rowData.dateyear}}</td>
                    <td *ngIf="selectedType.value== DATE_RANGE">{{rowData.sale_date | date: dateFormat}}</td>
                    <td>{{rowData.quantity}}</td>
                    <td>{{rowData.total_money}}</td>
                </tr>
            </ng-template>
        </p-table>
        <h4 class=" card-title" style="margin: 20px; font-weight: bold;">Thống kê
        </h4>
        <p-table dataKey="profits" editMode="row" #tt [value]="profits" [paginator]="true"
                 [rows]="20" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
                <tr>
                    <th *ngIf="selectedType.value==='month'">Tháng</th>
                    <th *ngIf="selectedType.value==='day'">Ngày</th>
                    <th>Lợi Nhuận</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td *ngIf="selectedType.value=='month'">{{rowData.datemonth}}/{{rowData.dateyear}}</td>
                    <td *ngIf="selectedType.value=='day'">{{rowData.sale_date | date: dateFormat}}</td>
                    <td>{{rowData.profit}}</td>
                </tr>
            </ng-template>
        </p-table>
        <h4 class=" card-title" style="margin: 20px; font-weight: bold;">Tổng Lợi Nhuận: {{totalProfit}}
        </h4>
    </nb-card-body>
</nb-card>
