<nb-card>
    <nb-card-header>
        DANH SÁCH HÀNG CHUYỂN ĐI
    </nb-card-header>

    <nb-card-body [style]="{overflow: 'auto'}" >

        <p-table dataKey="id" editMode="row" #tt [value]="data" [paginator]="true"
                 [rows]="20" [tableStyleClass]="'kai-styled-table'" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
                <tr>
                    <th>
                        <input type="checkbox" (select)="isSelectAll" checked="{{isSelectAll ? 'checked' : ''}}"
                               (change)="onSelectAll($event)">
                    </th>
                    <th>Nhóm SP</th>
                    <th>Tên Máy</th>
                    <th>Số IMEI</th>
                    <th>Màu</th>
                    <th>Tình Trạng</th>
                    <th>Số Lượng</th>
                    <th>Giá</th>
                    <th>Kho Đích</th>
                    <th pSortableColumn="transfer_date" >Ngày Chuyển <p-sortIcon field="transfer_date"></p-sortIcon></th>
                    <th>Trạng Thái</th>
                    <th class="text-center">
                        <button pButton (click)="onMultiTransferring($event)" type="button" class="btn p-button-sm p-button-success p-1 pl-2"><nb-icon icon="checkmark-circle-2-outline"></nb-icon></button>
                    </th>
                </tr>
                <tr class="filter-header" >
                    <th></th>
                    <th></th>
                    <th style="width: 150px; min-width: 150px;" ></th>
                    <th><input style="width: 120px;" type="text" [(ngModel)]="outgoingTransferProductsFilter.imei"
                               placeholder="IMEI" (ngModelChange)="onSearchOutgoingProducts($event)" class="rounded p-1" />
                    </th>
                    <th style="max-width: 50px;width: 50px;"></th>
                    <th style="max-width: 50px;width: 50px;" ></th>
                    <th style="max-width: 50px;width: 50px;" ></th>
                    <th></th>
                    <th>
                        <select style="max-width: 85px;width: 85px;" (change)="onSearchOutgoingProducts($event)" [(ngModel)]="outgoingTransferProductsFilter.source" >
                            <option [value]="''" >--All--</option>
                            <option *ngFor="let source of productStorages" [value]="source.value" >{{source.label}}</option>
                        </select>
                    </th>
                    <th><input type="date"
                               class="rounded p-1"
                               style="width: 120px;"
                               [(ngModel)]="outgoingTransferProductsFilter.transfer_date"
                               (ngModelChange)="onSearchOutgoingProducts($event)"/></th>
                    <th>
                        <select style="max-width: 85px;width: 85px;" (change)="onSearchOutgoingProducts($event)" [(ngModel)]="outgoingTransferProductsFilter.transfer_status" >
                            <option [value]="''" >--All--</option>
                            <option *ngFor="let status of transferStatuses" [value]="status.value" >{{status.label}}</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td class="text-center"><input type="checkbox" (select)="rowData.isSelected" checked="{{rowData.isSelected ? 'checked' : ''}}"
                                                   (change)="onSelectItem($event, rowData)"></td>
                    <td>{{rowData.group_name}}</td>
                    <td>{{rowData.name}}</td>
                    <td>{{rowData.imei}}</td>
                    <td>{{rowData.color}}</td>
                    <td>{{rowData.status | productStatus}}</td>
                    <td>{{rowData.quantity}}</td>
                    <td>{{rowData.price}}</td>
                    <td>{{rowData.to_position | positionTitle}}</td>
                    <td>{{rowData.transfer_date | date: dateFormat}}</td>
                    <td>{{rowData.transfer_status | outgoingTransferStatus}}</td>
                    <td>
                        <button pButton (click)="onTransferProduct($event, rowData)" type="button" class="btn p-button-sm p-button-info p-1 ml-1"><nb-icon icon="checkmark-outline"></nb-icon></button>
                        <button pButton (click)="onCancelTransferProduct($event, rowData)" type="button" class="btn p-button-sm p-button-danger p-1 ml-1 mt-1"><nb-icon icon="trash-2-outline"></nb-icon></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </nb-card-body>
</nb-card>
