<nb-card>
    <nb-card-header>
        DANH SÁCH HÀNG THẤT LẠC
    </nb-card-header>

    <nb-card-body>
        <table class="styled-table" id="excel-table">
            <thead>
            <tr>
                <th></th>
                <th>Nhóm SP</th>
                <th>Tên Máy</th>
                <th>Số IMEI</th>
                <th>Màu</th>
                <th>Tình Trạng</th>
                <th>Số Lượng</th>
                <th *ngIf="role=='admin'">Giá</th>
                <th>Kho Nguồn</th>
                <th style="cursor: pointer;" (click)="onSortData($event)" >Ngày Chuyển <nb-icon [icon]="orderIcon"></nb-icon></th>
                <th>Trạng Thái</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td style="min-width: 150px; width: 150px;"></td>
                <td>
                    <input type="text" placeholder="IMEI"
                           class="rounded p-1"
                           style="width: 120px;"
                           [(ngModel)]="notFoundProductsFilter.imei"
                           (ngModelChange)="onSearchNotFoundProducts($event)"/>
                </td>
                <td style="width: 50px;"></td>
                <td style="width: 50px;" ></td>
                <td style="width: 50px;" ></td>
                <td></td>
                <td></td>
                <td>
                    <input type="date"
                           class="rounded p-1"
                           [(ngModel)]="notFoundProductsFilter.transfer_date"
                           (ngModelChange)="onSearchNotFoundProducts($event)"/>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let rowData of data; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{rowData.group_name}}</td>
                <td>{{rowData.name}}</td>
                <td>{{rowData.imei}}</td>
                <td>{{rowData.color}}</td>
                <td>{{rowData.status | productStatus}}</td>
                <td>{{rowData.quantity}}</td>
                <td *ngIf="role=='admin'">{{rowData.price | productPrice}}</td>
                <td>{{rowData.from_position | positionTitle}}</td>
                <td>{{rowData.transfer_date | date: dateFormat}}</td>
                <td>{{rowData.transfer_status | outgoingTransferStatus}}</td>
                <td>
                    <button nbButton ghost status="primary" (click)="onReceiveTransferProduct($event, rowData)" type="button"
                            class="btn p-button-sm p-button-info p-1">
                        <nb-icon icon="done-all"></nb-icon>
                    </button>
                    <button nbButton ghost status="danger" (click)="onCancelTransferProduct($event, rowData)" type="button"
                            class="btn p-button-sm p-button-info p-1">
                        <nb-icon icon="trash-2"></nb-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>
