<nb-card>
    <nb-card-header>
        Đơn Hàng Xử Lý
    </nb-card-header>

    <nb-card-body>
        <!-- <div>Tổng số sản phẩm: {{tongsosanpham}}</div> -->
        <br>
        <div style="display: flex">
            <input type="text" style="height: 32px; width: 180px; border-radius: 5px; margin-right: 15px;"
                [(ngModel)]="imeisanphamthem">
            <button (click)="themsanpham()" (dblclick)="themsanpham()"
                style="margin-right: 15px; height: 32px;width: 150px;border-radius: 5px;border-color: #862efa;color: white;background-color: #595cf5;font-weight: 300;">
                Thêm Sản Phẩm</button>
        </div>
        <br>

        <!-- <a style="color: #2e61fa ;font-weight: 300;" (click)="exportexcel()"> Tải Danh Sách Sản Phẩm</a> -->

        <!-- <br /> -->
        <table class="styled-table" id="excel-table">


            <thead>
                <tr>
                    <!-- <th><i class="fa fa-shopping-cart" style="font-size:16px;color:whitesmoke;" routerLink="/pages/tables/bansanpham"
          [queryParams]={id:[danhsachidsanpham]}></i>
      </th> -->
                    <!-- <th>Số lượng</th> -->
                    <th>STT</th>
                    <th>Id</th>
                    <th>Tên sản phẩm</th>
                    <th>Imei</th>
                    <th>Màu sắc</th>
                    <th>Tình trạng</th>
                    <th>Số lượng</th>
                    <th *ngIf="role == 'admin'">Giá thu</th>
                    <th>Giá bán dự kiến</th>
                    <th>Giá bán</th>
                    <th>Bảo hành</th>
                    <th></th>
                    <!-- <th><i class="fa fa-plus" style="font-size:18px;color:whitesmoke;" (click)="taomoi()"></i></th> -->
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let sanpham of datasnew, let i = index">
                    <td>{{i+1}}</td>
                    <!-- <td><input type="number" [min]="1" [max]="sanpham.quantitytemp"
                            style="height: 22px; width: 60px; border-radius: 5px;"
                            (change)="thaydoisoluong($event,sanpham.id)" [value]="sanpham.soluong"></td> -->
                    <td>{{sanpham.id}}</td>
                    <td>{{sanpham.name}}</td>
                    <td>{{sanpham.imei}}</td>
                    <td>{{sanpham.color}}</td>
                    <td>{{sanpham.status}}</td>



                    <td><input type="number" [min]="1" [max]="sanpham.quantitytemp"
                            style="height: 22px; width: 60px; border-radius: 5px;"
                            (change)="thaydoisoluong($event,sanpham.id)" [value]="sanpham.soluong"></td>
                    <td *ngIf="role == 'admin'">{{sanpham.giathu}}</td>
                    <!-- <td *ngIf="role == 'admin' && sanpham.price!=null">{{sanpham.price}}</td> -->
                    <td>{{sanpham.estimated_price || number}}</td>
                    <td><input type="text" style="height: 22px; width: 80px; border-radius: 5px;"
                            [value]="sanpham.giaban" (change)="nhapsotienban($event,sanpham.id)"></td>

                    <td> <select name="baohanh" id="baohanh" (change)="changehinhthucbaohanh($event,sanpham.id)"
                            style="height: 22px; border-radius: 5px; width: 80px; "
                            [(ngModel)]="sanpham.thoihanbaohanh">
                            <option value="default"></option>
                            <option value="15ngay">15 ngày</option>
                            <option value="1thang">1 tháng</option>
                            <option value="3thang">3 tháng</option>
                            <option value="6thang">6 tháng</option>
                            <option value="1nam">1 năm</option>
                        </select></td>


                    <td><i class="fa fa-trash" style="font-size:18px;color:tomato;" (click)="delete(sanpham.id)"></i>
                    </td>


                </tr>


            </tbody>
        </table>
        <br>

        <div style="display: flex;">
            <div style="margin-right: 15px; font-weight: 600;">Khách Hàng: </div>
            <select name="cars" id="cars" [(ngModel)]="tenkhachhang" (change)="seleckhachhang($event)"
                style="height: 22px; border-radius: 5px; width: 180px; margin-left: 10px;">
                <option value="khachle">Khách Lẻ</option>
                <option *ngFor="let khachle of danhsachkhachhang" [value]="khachle.ten">
                    {{khachle.ten}}
                </option>
            </select>
        </div>
        <br>
        <div style="display: flex;">
            <div style="margin-right: 15px; font-weight: 600;">Hình thức thanh toán: </div>
            <select [(ngModel)]="hinhthucthanhtoanmodel" name="cars" id="cars"
                (change)="selecthinhthucthanhtoan($event)"
                style="height: 22px; border-radius: 5px; width: 180px; margin-left: 10px;">
                <option value="default">Hình thức thanh toán</option>
                <option value="trahet">Trả hết</option>
                <option value="datcoc">Đặt cọc</option>
            </select>
        </div>
        <div>

            <div *ngIf="hinhthucthanhtoan!=''" style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">Tổng
                Tiền:
                <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;"
                    [(ngModel)]="tongtienban" disabled>
            </div>
            <div *ngIf="hinhthucthanhtoan!=''" style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">Tiền Mặt:
                <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;"
                    [(ngModel)]="tienmat" (change)="thaydoisotienthanhtoan()">
            </div>
            <div *ngIf="hinhthucthanhtoan!=''" style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">Daikibi:
                <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;"
                    [(ngModel)]="daikibi" (change)="thaydoisotienthanhtoan()">
            </div>
            <div *ngIf="hinhthucthanhtoan!=''" style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">Chuyển
                Khoản:
                <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;"
                    [(ngModel)]="chuyenkhoan" (change)="thaydoisotienthanhtoan()">
            </div>
            <div *ngIf="hinhthucthanhtoan=='trahet'" style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">
                Tiền
                Thừa: <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;"
                    [(ngModel)]="tienthua" disabled></div>
            <div *ngIf="hinhthucthanhtoan=='datcoc'" style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">
                Tiền
                Còn
                Lại: <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;"
                    [(ngModel)]="tienconlai"></div>

        </div>
        <br>
        <br>
        <div style="display: flex;">
            <button [disabled]="!hoantattoggle" (click)="hoantat()" (dblclick)="hoantat()"
                style="margin-right: 15px; height: 36px;width: 150px;border-radius: 5px;border-color: #862efa;color: white;background-color: #595cf5;font-weight: 300;">
                Hoàn Tất</button>
            <button (click)="luutam()" *ngIf="hinhthucthanhtoan=='trahet'"
                style="margin-right: 15px; height: 36px;width: 150px;border-radius: 5px;border-color: #5efa2e;color: white;background-color: #7cf82a;font-weight: 300;">
                Lưu Tạm</button>
            <button (click)="quayve()"
                style="margin-right: 15px; height: 36px;width: 150px;border-radius: 5px;border-color: #fab32e;color: white;background-color: #fcad80;font-weight: 300;">
                Hủy</button>

            <button [disabled]="!hoantattoggle" (click)="hoantat(true)" (dblclick)="hoantat(true)"
                style="margin-left: 15px; height: 36px;width: 150px;border-radius: 5px;border-color: #862efa;color: white;background-color: #595cf5;font-weight: 300;">
                Hoàn Tất và Xuất Hóa Đơn</button>

        </div>
    </nb-card-body>
</nb-card>
