<nb-card>
    <nb-card-header>
        QUẢN LÝ ĐƠN THU MUA
    </nb-card-header>

    <nb-card-body>
        <div class="row filter-input-group invoice-search">
            <div class="col-9 col-md-9 form-inline">
                <input type="text"
                       [(ngModel)]="invoiceSearch.name" required id="searchNameText"
                       (keydown.enter)="onSearchInvoices($event)" (ngModelChange)="onSearchInvoices($event)"
                       name="searchNameText" placeholder="Tên Tiếng Việt" class="filter-text form-control" />

                <p-calendar
                        [inputStyleClass]="'form-control'"
                        [styleClass]="'my-calendar sale-date-calendar'"
                        placeholder="Ngày Bán"
                        [(ngModel)]="invoiceSearch.sale_date"
                        dateFormat="dd-mm-yy"
                        (ngModelChange)="onSearchInvoices($event)"
                        [ngModelOptions]="{standalone: true}"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [showButtonBar]="true"
                        #birthdayValidate="ngModel"
                >
                </p-calendar>
            </div>
            <div class="col-3 col-md-3">
                <button type="button"
                        pButton
                        icon="pi pi-plus"
                        iconPos="left"
                        label="THÊM"
                        (click)="navigateToAddInvoice()"
                        class="btn p-button-sm ui-button-info float-right"></button>
            </div>
        </div>

        <p-table dataKey="id" editMode="row" #tt [columns]="cols" [value]="data" [paginator]="true"
                 [rows]="20" [tableStyleClass]="'kai-styled-table'" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
                <tr>
                    <th></th>
                    <th>Tên Khách Bán</th>
                    <th pSortableColumn="sale_date">Ngày Bán
                        <p-sortIcon field="sale_date"></p-sortIcon>
                    </th>
                    <th>Số Máy Bán</th>
                    <th>Tổng Số Tiền</th>
                    <th></th>
                    <th></th>

                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td>{{i + 1}}</td>
                    <td>{{rowData.customer.name_vietnamese}}</td>
                    <td>{{rowData.sale_date | date: dateFormat }}</td>
                    <td>{{rowData.quantity}}</td>
                    <td>{{rowData.total_money | productPrice}}</td>
                    <td style="text-align:center">
                        <button nbButton status="primary" (click)="onRowEditInit(rowData)">
                            <nb-icon icon="edit-outline"></nb-icon>
                        </button>
                    </td>
                    <td style="text-align:center">
                        <button nbButton status="danger" (click)="onRowDelete(rowData,ri)">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </nb-card-body>
</nb-card>
