<nb-card>
    <nb-card-header>
        DANH SÁCH MÁY TRONG KHO
    </nb-card-header>

    <nb-card-body>
        <div class="row filter-input-group">
            <div class="col-12 col-md-12 form-inline">
                <input type="text"
                       [(ngModel)]="mobileSearch.name" required id="searchNameText"
                       (keydown.enter)="onSearchMobiles($event)"
                       (ngModelChange)="onSearchMobiles($event)"
                       name="searchNameText" placeholder="Tên Máy" class="filter-text form-control" />

                <input type="text"
                       [(ngModel)]="mobileSearch.imei" required id="searchImeiText"
                       (keydown.enter)="onSearchMobiles($event)"
                       (ngModelChange)="onSearchMobiles($event)"
                       name="searchImeiText" placeholder="Số Imei" class="filter-text form-control" />
            </div>
        </div>

        <p-table dataKey="id" editMode="row" #tt [value]="data" [paginator]="true"
                 [rows]="20" [tableStyleClass]="'kai-styled-table'" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
                <tr>
                    <th class="text-center">
                        <button (click)="onShowForSaleDialog()" pButton type="button"
                                class="btn p-button-sm p-button-info p-1"
                        >
                            <nb-icon icon="shopping-cart-outline"></nb-icon>
                        </button>
                        <button (click)="onShowTransferDialog()" pButton type="button"
                                class="btn p-button-sm p-button-success p-1 ml-2"
                        >
                            <nb-icon icon="flip-2-outline"></nb-icon>
                        </button>
                    </th>
                    <th>Tên Máy</th>
                    <th>Số IMEI</th>
                    <th>Màu Sắc</th>
                    <th>Tình Trạng</th>
                    <th>Số Lượng</th>
                    <th>Giá ( giá mua vào )</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td class="text-center"><input type="checkbox" (select)="rowData.isSelected" checked="{{rowData.isSelected ? 'checked' : ''}}"
                                                   (change)="onSelectItem($event, rowData)"></td>
                    <td>{{rowData.name}}</td>
                    <td>{{rowData.imei}}</td>
                    <td>{{rowData.color}}</td>
                    <td>{{rowData.status | productStatus}}</td>
                    <td>{{rowData.quantity}}</td>
                    <td>{{rowData.price}}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-dialog header="Chi Tiết Đơn Hàng" [(visible)]="displayForSaleModal" [modal]="true"
                  [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
            <div class="row">

            </div>
            <p-table [value]="listProducts" [styleClass]="'my-scrollable-table'" dataKey="vin">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tên</th>
                        <th>IMEI</th>
                        <th>Màu</th>
                        <th>Tình Trạng</th>
                        <th>Giá mua vào</th>
                        <th style="width: 200px;">Giá bán</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>{{product.name}}</td>
                        <td>{{product.imei}}</td>
                        <td>{{product.color}}</td>
                        <td>{{product.status | productStatus}}</td>
                        <td>{{product.price}}</td>
                        <td><input type="text" class="form-control" [(ngModel)]="product.salePrice"></td>
                        <td>
                            <button (click)="onRowEditInit(product)" pButton pRipple type="button"
                                    icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="d-flex justify-content-center text-center mt-2">
                <div class="text-center">
                    <button (click)="createForSaleInvoice()" type="button" class="btn btn-primary">Xuất Bán</button>
                </div>
            </div>

        </p-dialog>

        <p-dialog header="Chuyển Kho: Kho Nguồn KAI" [(visible)]="displayTransferModal" [modal]="true"
                  [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
            <div class="row">

            </div>
            <p-table [value]="listProducts" [styleClass]="'my-scrollable-table'" dataKey="vin">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tên</th>
                        <th>IMEI</th>
                        <th>Màu</th>
                        <th>Tình Trạng</th>
                        <th>Giá mua vào</th>
                        <th style="width: 100px;">Số Lượng</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>{{product.name}}</td>
                        <td>{{product.imei}}</td>
                        <td>{{product.color}}</td>
                        <td>{{product.status | productStatus}}</td>
                        <td>{{product.price}}</td>
                        <td><input type="number" min="1" [max]="product.quantity" class="form-control" [(ngModel)]="product.transfer_quantity"></td>
                        <td>
                            <button (click)="onRowEditInit(product)" pButton pRipple type="button"
                                    icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="row mt-3">
<!--                <div class="col-md-3">-->
<!--                    <label> Kho Gởi &nbsp;</label>-->
<!--                    <p-dropdown [styleClass]="'form-control'" [options]="productStorages"-->
<!--                                (onChange)="onChangeTransferSource($event.value)"-->
<!--                                [(ngModel)]="transferSource" optionLabel="label" optionValue="value"-->
<!--                                required [ngModelOptions]="{standalone: true}">-->
<!--                    </p-dropdown>-->
<!--                </div>-->
                <div class="col-md-3">
                    <label> Kho Nhận &nbsp;</label>
                    <p-dropdown [styleClass]="'form-control'" [options]="productStorages"
                                (onChange)="onChangeTransferDestination($event.value)"
                                [(ngModel)]="transferDestination" optionLabel="label" optionValue="value"
                                required [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                </div>
                <div class="col-md-3" *ngIf="transferDestination === SHOP_VN_SOURCE" >
                    <label> Tỉ giá tiền JPY/VNĐ &nbsp;</label>
                    <input type="text" class="form-control" [(ngModel)]="rate_exchange">
                </div>
                <div class="col-md-3" *ngIf="transferDestination === SHOP_VN_SOURCE" >
                    <label> Phụ Phí &nbsp;</label>
                    <input type="text" class="form-control" [(ngModel)]="sub_fee">
                </div>
            </div>
            <div class="d-flex justify-content-center text-center mt-3">
                <div class="text-center">
                    <button (click)="createTransferInvoice()" type="button" class="btn btn-primary">Chuyển Kho</button>
                </div>
            </div>

        </p-dialog>
    </nb-card-body>
</nb-card>
