<nb-card>
    <nb-card-header>
        DANH SÁCH HÀNG ĐANG ĐẾN
        <a style="color: #2e61fa ;font-weight: 300; margin-left: 25px;" (click)="exportexcel()"> Tải Danh
            Sách Hàng Đang Đến</a>
    </nb-card-header>

    <nb-card-body>
        <table class="styled-table" id="excel-table">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" (select)="isSelectAll" checked="{{isSelectAll ? 'checked' : ''}}"
                           (change)="onSelectAll($event)">
                </th>
                <th>Nhóm SP</th>
                <th>Tên Máy</th>
                <th>Số IMEI</th>
                <th>Màu</th>
                <th>Tình Trạng</th>
                <th>Số Lượng</th>
                <th *ngIf="role=='admin'">Giá</th>
                <th>Kho Nguồn</th>
                <th style="cursor: pointer;" (click)="onSortData($event)" >Ngày Chuyển <nb-icon [icon]="orderIcon"></nb-icon></th>
                <th>Trạng Thái</th>
                <th class="text-center">
                    <button pButton (click)="onMultiTransferAccept($event)" type="button" nbButton status="success"><nb-icon icon="done-all"></nb-icon></button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td style="min-width: 150px; width: 150px;"></td>
                <td>
                    <input type="text" placeholder="IMEI"
                           class="rounded p-1"
                           [(ngModel)]="transferringProductsFilter.imei"
                           (ngModelChange)="onSearchTransferringProducts($event)"/>
                </td>
                <td style="width: 50px;"></td>
                <td style="width: 50px;" ></td>
                <td style="width: 50px;" ></td>
                <td></td>
                <td></td>
                <td>
                    <input type="date"
                           class="rounded p-1"
                           [(ngModel)]="transferringProductsFilter.transfer_date"
                           (ngModelChange)="onSearchTransferringProducts($event)"/>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let rowData of data; let i = index;">
                <td class="text-center"><input type="checkbox" (select)="rowData.isSelected" checked="{{rowData.isSelected ? 'checked' : ''}}"
                                               (change)="onSelectItem($event, rowData)"></td>
                <td>{{rowData.group_name}}</td>
                <td>{{rowData.name}}</td>
                <td>{{rowData.imei}}</td>
                <td>{{rowData.color}}</td>
                <td>{{rowData.status | productStatus}}</td>
                <td>{{rowData.quantity}}</td>
                <td *ngIf="role=='admin'">{{rowData.price | productPrice}}</td>
                <td>{{rowData.from_position | positionTitle}}</td>
                <td>{{rowData.transfer_date | date: dateFormat}}</td>
                <td>{{rowData.transfer_status | outgoingTransferStatus}}</td>
                <td>
                    <button nbButton ghost status="primary" (click)="onReceiveTransferProduct($event, rowData)" type="button"
                            class="btn p-button-sm p-button-info p-1">
                        <nb-icon icon="done-all"></nb-icon>
                    </button>
                    <button nbButton ghost status="warning" (click)="onLostProduct($event, rowData)" type="button"
                            class="btn p-button-sm p-button-info p-1">
                        <nb-icon icon="eye-off"></nb-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>
