<nb-card>
  <nb-card-header>
    Chi Tiết Đơn Hàng

  </nb-card-header>

  <nb-card-body>



    <table class="styled-table" id="excel-table">


      <thead>
        <tr>
          <th>Đơn hàng</th>
          <!-- <th>Nhóm sản phẩm</th> -->
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <!-- <th>Dung lượng</th>
    <th>Loại sản phẩm</th>
    <th>Phiên bản</th> -->
          <th>Imei</th>
          <th *ngIf="role == 'admin'">Giá thu</th>
          <th>Giá bán</th>
          <th>Thời gian bảo hành</th>
          <th>Ngày bán</th>
          <th>Khách hàng</th>
        </tr>
      </thead>
      <tbody>



        <tr *ngFor="let sanpham of data">
          <td>{{madonhang}}</td>
          <!-- <td>{{sanpham.nhomsanpham}}</td> -->
          <td>{{sanpham.tensanpham}}</td>
          <!-- <td>{{sanpham.dungluong}}</td> -->
          <!-- <td>{{sanpham.loaisanpham}}</td>
    <td>{{sanpham.phienban}}</td> -->
          <td>{{sanpham.soluong}}</td>
          <td>{{sanpham.imei}}</td>
          <td *ngIf="role == 'admin'">{{sanpham.giatien | productPrice: shopSource}}</td>
          <td>{{sanpham.giaban | productPrice: shopSource}}</td>
          <td>{{sanpham.thoihanbaohanh}}</td>
          <td>{{sanpham.ngayban}}</td>
          <td>{{sanpham.tenkhachhang}}</td>
          <!-- <td><i class="fa fa-edit" style="font-size:18px;color:darkblue;" routerLink="/pages/tables/sanpham"
        [queryParams]={id:[sanpham.id]}></i></td>
    <td><i class="fa fa-trash" style="font-size:18px;color:tomato;" (click)="delete(sanpham.id)"></i></td> -->

        </tr>


      </tbody>
    </table>
    <br />
    <div *ngIf="tienmat == '0' && daikibi =='0' && chuyenkhoan=='0'">Thanh Toán Tiền Mặt: {{tonggiatien}}</div>
    <div>Thanh Toán Tiền Mặt: {{tienmat | productPrice: shopSource }}</div>
    <div>Thanh Toán Daikibi: {{daikibi | productPrice: shopSource }}</div>
    <div>Thanh Toán Chuyển Khoản: {{chuyenkhoan | productPrice: shopSource }}</div>
    <br />
  </nb-card-body>
  <nb-card-footer *ngIf="duyetdon=='datcoc'">
    
    <div style="font-weight: 600">Số Tiền Cần Thanh Toán: {{tiencanthanhtoan | productPrice: shopSource }}</div>
    <div  style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">Tiền Mặt:
      <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;" ngxCurrencyMask [shopSource]="shopSource"
        [(ngModel)]="tienmatcanthanhtoan" (change)="thaydoisotienthanhtoan()"></div>
    <div  style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">Daikibi: <input ngxCurrencyMask [shopSource]="shopSource"
        type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;" [(ngModel)]="daikibicanthanhtoan"
        (change)="thaydoisotienthanhtoan()"></div>
    <div style="font-weight: 600;margin-bottom: 10px; margin-top: 10px;">Chuyển Khoản:
      <input type="text" style="margin-left: 10px; height: 22px; width: 120px; border-radius: 5px;" ngxCurrencyMask [shopSource]="shopSource"
        [(ngModel)]="chuyenkhoancanthanhtoan" (change)="thaydoisotienthanhtoan()"></div>
 

  </nb-card-footer>
  <nb-card-footer>
    <button *ngIf="duyetdon=='luutam'"
    style="margin-right: 20px;height: 36px;width: 150px;border-radius: 5px;border-color: #532efa;color: white;background-color:rgb(89, 71, 255);font-weight: 300;"
    (click)="duyetdonhang()">Duyệt Đơn Hàng</button>
    <button *ngIf="duyetdon=='datcoc'"
    style="margin-right: 20px;height: 36px;width: 180px;border-radius: 5px;border-color: #532efa;color: white;background-color:rgb(89, 71, 255);font-weight: 300;"
    (click)="hoantatthanhtoan()">Hoàn Tất Thanh Toán</button>
    <button
      style=" height: 36px;width: 150px;border-radius: 5px;border-color: #fa2e2e;color: white;background-color:tomato;font-weight: 300;"
      (click)="huydonhang()">Hủy Đơn Hàng</button>
    <button (click)="exportExcel()" (dblclick)="exportExcel()"
            style="margin-left: 15px; height: 36px;width: 150px;border-radius: 5px;border-color: #862efa;color: white;background-color: #595cf5;font-weight: 300;">Xuất Hóa Đơn</button>

  </nb-card-footer>
</nb-card>
